
:root{
    --body__background: var(--tema2__preto);
    --calc__background: var(--tema2__cinza--escuro);
    --calc__texto: var(--tema2__branco);
    --calc__numbers: var(--tema2__cinza--muito-escuro);

    
    
    --tema1__cor: #fff;
    --tema1__branco: #fff;
    --tema1__cinza-claro: #7d7d7d;
    --tema1__branco: #fff;
    --tema1__cinza-escuro: #0e0e0e;
    
    --tema2__cor: #000;
    --tema2__preto: #0c0c0c;
    --tema2__cinza--escuro: #242424;
    --tema2__branco: #fff;
    --tema2__cinza--muito-escuro: #0e0e0e;
    
    --tema3__cor: #000;
    --tema3__preto: #0c0c0c;
    --tema3__cinza-claro: #242424;
    --tema3__branco: #fff;
    --tema3__cinza-escuro: #0e0e0e;

    --tema4__cor: #000;
    --tema4__preto: #0c0c0c;
    --tema4__cinza-claro: #242424;
    --tema4__branco: #fff;
    --tema4__cinza-escuro: #0e0e0e;

    
}
*{
    padding: 0;
    margin: 0;
}

body{
    background: var(--body__background);
}

.calculadora{
    color: var(--calc__texto);
    background: var(--calc__background);
    width: 50vw;
    margin: 100px auto 0px auto;
}
.botao__tema{
    width: 25px;
    height: 25px;
    border-color: var(--calc__texto);
    color: var(--calc__texto);
    border-radius: 50px;
}

.botao__tema--tema2{
    background-color: var(--tema2__cor);
}

.botao__numeros{
    color: var(--calc__texto);
    background-color: var(--calc__numbers);
}
